nav.navbar.navbar-default.navbar-static-top{
  background-color:#0d3862;
}

button.btn.btn-primary{
  background-color:#0d3862;
}

footer#foot{
  background-color:#0d3862;
}

form.form-horizontal.custom-form{
  font-family:Open Sans;
}

